/* DEFAULT */

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box {
  /* width: 1500px; */
  min-width: 100vh;
  height: 1000px;
  /* background-image: linear-gradient(to left, red, blue); */
  background-image: url('/img/pexels-francesca-zama-5339074.jpg');
  background-repeat: no-repeat;
  /* background-color: rebeccapurple; */
  background-size: cover;
  background-position: center;
}

.square {
  list-style-type: square;
}

.letter::first-letter {
  color: #e91e63;
}

p {
  text-indent: 25px;
  color: rgba(230, 30, 99, 0.5);
  font-size: 30px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
  color: rgba(220, 230, 99, 0.7);
  text-transform: uppercase;
  font-weight: 900;
}



/* Cafe Starbuzz */
/* body {
  text-align: center;
  background-color: #d2b48c;
  margin: 20% 20%;
  border: 1px solid gray;
  padding: 10px 10px 10px 10px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 14px 28px rgba(24, 24, 25, 0.25), 
  0 10px 10px rgba(24, 24, 25, 0.22);
} */
